# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Pytest
.pytest_cache/

# Build
build/
dist/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/

# Kafka data (if stored locally)
kafka-data/

# Redis
dump.rdb